@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

*, *::before, *::after{
    box-sizing: inherit;
}

:root{
    --bgNavy: #E8F1F0;
    --bgTeal: #004444;
    --bgGray: #A1A6A4;
    --bgWhite: #fff;
}
body{
    box-sizing: border-box;    
}







